@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

.App{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6, .overline, .subtitle{
    font-weight: $fw-bold;
    text-transform: uppercase;
}

.overline{
    font-weight: $fw-regular;
}

h1{
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 1.28571px;
}

h2{
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 1.25px;   
}

h3{
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: 1.07143px;
}

h4{
    font-size: 1.75rem;
    line-height: 2.375rem;
    letter-spacing: 2px;
}

h5{
    font-size: 1.5rem;
    line-height: 2.0625rem;
    letter-spacing: 1.7px;
}

h6{
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 1.3px;
}

.overline{
    font-size: 0.875rem;
    line-height: 1.1875rem;
    letter-spacing: 0.625rem;
}

.subtitle{
    font-size: 0.8125rem;
    line-height: 1.5625rem;
    letter-spacing: 1px;
}

p{
    font-size: 0.9375rem;
    font-weight: $fw-medium;
    line-height: 1.5625rem;
}

li{
    list-style-type: none;
}

a, a:hover, a:visited{
    text-decoration: none;
}

.link{
    
}

@media screen and (min-width: 768px){
    h1{
        font-size: 3.5rem;
        line-height: 3.625rem;
        letter-spacing: 2px;
    }

    h2{
        font-size: 2.5rem;
        line-height: 2.75rem;
        letter-spacing: 1.5px;   
    }
}

@media screen and (min-width: 1440px){
    h3{
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: 1.15px;
    }
}