/*___colors___*/
$dark-orange: #D87D4A;
$salmon: #FBAF85;
$white: #FFFFFF;
$light-gray: #FAFAFA;
$gray: #F1F1F1;
$black-prim: #000000;
$black-sec: #101010;
$black-ter: #4C4C4C;

$red: #CD2C2C;

/*___fonts___*/
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;